WCFClient1/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62208/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62208/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62208/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_GetListEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmployeeBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeBySearch" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmployeeBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeBySearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddEmployee" message="tns:IService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddEmployeeResponse" message="tns:IService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListEmployee" message="tns:IService_GetListEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListEmployeeResponse" message="tns:IService_GetListEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEmployeeBySearch" message="tns:IService_GetEmployeeBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEmployeeBySearchResponse" message="tns:IService_GetEmployeeBySearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/GetListEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeBySearch">
      <soap:operation soapAction="http://tempuri.org/IService/GetEmployeeBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:62208/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>